/* CSS header */
body{
    font-family: Arial, sans-serif;
}
.imgadv{
    width: 100px;
    display:flex;
    width: 6%;
    position: relative;
    left:10px;
}
button img{
    width: 2px;
}
section header{
    position: absolute;
    top: 0;
    width: 98%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 10px;
}
section header ul li a{
    color: rgb(96, 95, 95);
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}
section header ul li a:hover{
    text-decoration: underline; 
}
section header ul button{
    background-color: rgb(122, 122, 245);
    border-radius: 3px;
    color: aliceblue;
    font-size: 14px;
    border: 0;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0,4s all ease-in-out;
}
section header ul button:hover{
    background-color: rgba(46, 84, 210, 0.866);
}
section header ul button img {
    width: 17px;
}
.buttongrid{
    background-color: rgb(255, 255, 255);
    border-style:dashed;
    border-radius: 200px;
    border: 0px;
    outline: none;
    padding: 12px 14px;
    cursor: pointer;
    transition: 0,4s all ease-in-out; 
}
.buttongrid:hover{
    background-color: rgba(239, 239, 239, 0.866);
}
/* button */
.button{
    margin-right: 10px;
    float: right;
    background-color: rgb(122, 122, 245);
    border-radius: 3px;
    color: aliceblue;
    font-size: 14px;
    border: 0;
    outline: none;
    padding: 10px 12px;
    cursor: pointer;
    transition: 0,4s all ease-in-out;
}
.button:hover{
    background-color: rgba(46, 84, 210, 0.866);
}
.text-title{
    position: relative;
    color: rgb(207, 39, 39);
    font-size: 20px;
    left: 30px;
}

.text-subtitle{
    font-size: 16px;
    position: relative;
    color: black;
    left: 30px;
    top: 20px;
}
/* pesquisa */
.form-search{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 560px;
    height: 25px;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
}
.form-search:focus{
    outline: none;
    border: 1px solid #4d90fe;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
}
.container-search{
    display: flex;
}
.container-search p{
    width: 220px;
}
.form-value{
    width: 60%;
    margin-left: 30px;
}
.text-container p a{
    text-decoration:none
}
.text-container p {
    margin: 0%;
}
.text-adv{
    margin-left: 20px;
    margin-top: 100px;
    font-size: 15px;
}
/* css footer*/
footer{
    background-color: rgb(244, 244, 244); 
    position: relative;
    top: 173px;
    height: 88px;
}
footer div{
    display: flex;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left:80%;
    gap: 20px;
    list-style: none;
    margin: 0;
    left: 100px;
}
footer ol{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    margin: 0;
    width: 75%;
}
footer ul li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
footer ul li a:hover{
    text-decoration: underline; 
}
footer ol li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

footer ol li a:hover{
    text-decoration: underline; 
}
footer p{
    position: relative;
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 30px;
}
.p{
    top: 12px;
    left: 20px;
}
div ul li a{
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
div ul li a:hover{
    text-decoration:underline ;
}
div ul {
    list-style: none;
} 
.linea{
    border-bottom: 1px rgba(158, 158, 158, 0.267) solid;
}