body{
    margin: 0;
    font-family: Arial, sans-serif; 
    border: 1px black solid;
}
/* css header */
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
    margin: 10px;
}
section header ul li a{
    color: rgb(96, 95, 95);
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}

section header ul li a:hover{
    text-decoration: underline; 
}
section header ul button{
    background-color: rgb(122, 122, 245);
    border-radius: 3px;
    color: aliceblue;
    font-size: 14px;
    border: 0;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0,4s all ease-in-out;
}
section header ul button:hover{
    background-color: rgba(46, 84, 210, 0.866);
}
.buttongrid img {
    width: 17px;
}
.buttongrid{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0px;
    outline: none;
    padding: 12px 14px;
    cursor: pointer;
    transition: 0,4s all ease-in-out; 
}
.buttongrid:hover{
    background-color: rgba(239, 239, 239, 0.866);
}
/* css main*/
main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}   
.search{
    border-radius: 25px;
    border-style:ridge;
    border-color: rgba(250, 250, 250, 0.531);
    background-color: rgb(255, 255, 255);
    height: 38px;
    padding: 0 0 0 40px;
    background-color: transparent;
    position: relative;
    width: 38vw;
    z-index: 2;
}
.search textarea {
    margin: 0 50px;
}
.search:focus{
    outline: none;
}
.search:hover{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.button-container{
   display: flex;
   justify-content: center;
   align-content: space-between;
   margin-top: 10px;
}
.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    transition: 0,4s all ease-in-out;;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
}
.button:hover{
    border: 1px solid transparent;
    box-shadow: 0px 1px 4px rgb(192, 191, 191);
}
.leguage{
    display: flex;
    justify-content: center;
}
.input-container{
    position: relative;
}
.icons-container{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content:space-between;
    top: 25%;
    margin-left: 15px;
    width: 39vw;
}
.icons-container img{
    width: 19px;
}

/* css footer*/
footer{
    background-color: rgb(244, 244, 244); 
    position: absolute;
    height: 120px;
    width: 100vw;
    top: calc(100vh - 130px);
}
footer div{
    display: flex;
}
footer ul{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}
footer ol{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    margin: 0;
    width: 75%;
}
footer ul li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
footer ul li a:hover{
    text-decoration: underline; 
}
footer ol li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

footer ol li a:hover{
    text-decoration: underline; 
}
footer p{
    position: relative;
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 30px;
}
.p{
    top: 12px;
    left: 20px;
}
.linea{
    border-bottom: 1px rgba(158, 158, 158, 0.267) solid;
    margin: 4px;
}
@media screen and (max-width:375px) {
    section header ul button{
        padding: 8px 15px;
        font-size: 10px;
    }    
    section header ul li a{
        font-size: 10px;
    }
    .buttongrid{
        padding: 10px 12px;
    }
    .buttongrid img{
        width: 14px;
    }
    .logo-container{
        display: fle;
    }
    .logo-container img a {
        display: flex;
    }
    .logo-container img{
        width: 65%;
        margin-left: 15%;
    }
    .search{
        width: 100%;
        padding: 0%;
        height: 30px;
    }
    footer div{
        display: grid;
        justify-content: center;
    }
    footer ul{
        justify-content: flex-start;
    }
    footer ol{
        justify-content: flex-start;
    }
    .footer-div{
        display: block;
        margin-left: 5%;
        height: 80px;
    }
    .footer-div-p{
        display:flex;
        justify-content: flex-start;
        margin-left: 5%;
        height: 50px;
    }
    .footer-div-p p{
        align-items: center;
    }
    .text-subtitle{
        margin-left: 5%;
        width: 50%;
    }
    .leguage{
        font-size: 9px;
    }
}