body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;  
}
section{
    position: relative;
    width: 100;
    min-height: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
section header{
    position: absolute;
    top: 8px;
    width: 98%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
section header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 0;
}
section header ul li a{
    color: rgb(96, 95, 95);
    font-size: 13px;
    text-decoration: none;
    list-style: none;
}

section header ul li a:hover{
    text-decoration: underline; 
}
section header ul button{
    background-color: rgb(122, 122, 245);
    border-radius: 3px;
    color: aliceblue;
    font-size: 14px;
    border: 0;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0,4s all ease-in-out;
}
section header ul button:hover{
    background-color: rgba(46, 84, 210, 0.866);
}
section header ul button img {
    width: 17px;
}
.buttongrid{
    background-color: rgb(255, 255, 255);
    border-style:dashed;
    border-radius: 200px;
    border: 0px;
    outline: none;
    padding: 12px 14px;
    cursor: pointer;
    transition: 0,4s all ease-in-out; 
}
.buttongrid:hover{
    background-color: rgba(239, 239, 239, 0.866);
}
.logo-container{
    position: relative;
    top: 30px; 
}
a img{
    width: 340px;
    justify-content: center;
}    
.search{
    border-radius: 25px;
    border-style:ridge;
    border-color: rgba(250, 250, 250, 0.531);
    background-color: rgb(255, 255, 255);
    width: 580px;
    height: 38px;
}
.search:focus{
    outline: none;
}
.search:hover{
    border: 1px solid transparent;
    box-shadow: 0px 1px 6px rgb(192, 191, 191);
}
.button-container{
   position: relative;
   top: 25px;
   left: 28%;
   width: 100%;
}
.button{
    background-color: rgb(246, 246, 246);
    border: 0;
    font-size: 14px;
    outline: none;
    padding: 8px 14px;
    cursor: pointer;
    transition: 0,4s all ease-in-out;
}
.button:hover{
    border: 1px solid transparent;
    box-shadow: 0px 1px 4px rgb(192, 191, 191);
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;  
}

.leguage{
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    color: rgb(70, 70, 70);
    padding-top: 30px;
}
.input-container{
    position: relative;
}
label img{
    width: 19px;
}
label{
    position: absolute;
    top: 15px;
    left: 19px;
    width: 100%;
}
.label-icon{
    left: 550px;
}
footer{
    background-color: rgb(244, 244, 244); 
    position: relative;
    top: 173px;
    height: 88px;
}
footer div{
    display: flex;
}
footer ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    left:80%;
    gap: 20px;
    list-style: none;
    margin: 0;
    left: 100px;
}
footer ol{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    list-style: none;
    margin: 0;
    width: 75%;
}
footer ul li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}
footer ul li a:hover{
    text-decoration: underline; 
}
footer ol li a{
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

footer ol li a:hover{
    text-decoration: underline; 
}
footer p{
    position: relative;
    color: rgb(96, 95, 95);
    font-size: 15px;
    text-decoration: none;
    width: 100%;
    height: 30px;
}
.p{
    top: 12px;
    left: 20px;
}